doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title Mobile store
    include css
body
    nav
        each link in links
            a(href=link.url class='btn btn-info' style='margin-left: 5px;')
                = 'To the ' + link.title + ' page'
    div#root
        block mainContent
    footer(style='text-align: center;')
        h3(class='footer') &copy; PeshoGoshoTosho Mobile store
    include scripts