doctype
html(lang="en")
head
    meta(charset="UTF-8")
    title We hate css
    link(rel="stylesheet" href="styles.css")
body
    h1 Figrata sme
    #content
        button.pink Assam rozof
        button.hidden Assam skrid
        button#btn-pesho CHOK CHOK KOI E
    #koi-en
        img(id="pic-of-pesho" src="images/pesho.jpg" width="30%").hidden
    script(src="scripts/cofti-script.js")